@{
    ViewData["Title"] = "To-Do List Details";
}

<div class="text-center">
    <h1>My Todolist</h1>
    <ul>
        <li>
            <h2>@ViewData["id"]</h2>
            <h2>@ViewData["Jtitle"]</h2>
            <h2>@ViewData["description"]</h2>
        </li>
    </ul>
</div>
<form action="/Sample/Todolist" method="get">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required>
        
        <label for="title">Title:</label>
        <input type="text" id="Jtitle" name="Jtitle" required>

       <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
      <button type="submit">Add Item</button>
</form>